<div>
    <div>
        <label>
            name:
            <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
    </div>
    <div>
        <label>
            description:
            <input [(ngModel)]="hero.description" placeholder="description"/>
        </label>
    </div>
    <div>
        <label>
            email:
            <input [(ngModel)]="hero.email" placeholder="email"/>
        </label>
    </div>
    <div>
        <label>
            <button (click)="addHeroes()">Save!</button>
        </label>
    </div>
</div>